doctype html
html
	head
		// Кодировка
		meta(charset='utf-8')

		// Responsive design
		meta(name='viewport', content='width=device-width, initial-scale=1')

		// SEO
		title 😀 Course &copy; 2016 &ndash; Roman &amp; Victor
		meta(name='description', content='')
		meta(name='keywords', content='course,html,css,php,js')

		// Open Graph
		meta(property='og:title', content='The Course')
		meta(property='og:type', content='website')
		meta(property='og:url', content='http://example.com/')
		meta(property='og:image', content='https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png')

		// Styles
		link(rel='stylesheet', href='assets/css/style.css')

		// Icons
		link(rel='icon', href='icon.png')

		// Scripts
		script.
			console.log('HEAD Script');
	body
		.intro
			h1 Lorem
			.intro-text
				p
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione labore, sequi hic. Amet soluta expedita quis eos voluptate tempore, ab facere necessitatibus, possimus molestias quasi beatae cumque, suscipit voluptatibus aperiam.

		// Body script
		script.
			console.log('BODY Script');
		.content
			.content-text
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
				p
					| Nihil odio, quia hic totam qui? Praesentium cupiditate repudiandae harum in cum pariatur necessitatibus a blanditiis, quas veritatis quo architecto sed. Inventore perferendis eos repudiandae distinctio adipisci sapiente voluptatum ex!
		// Foot scripts
		script(src='assets/js/script.js')
